<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"> -->

</head>

<body>
    <!-- <nav>
        <a href="#">FlaskApp</a>
        <a href="#">About</a>
    </nav> -->
    <hr>
    <div class="ky-content">
        <div class="ky-card-container">
            {% block cards %} {% endblock %}
        </div>
    </div>
</body>

</html>