{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6 d-flex flex-column 
        justify-content-start">
        <h2 class="text-center mb-3">
            Price
        </h2>
        <div class="card border-primary mb-3">
            <div class="card-body">
                <h5 class="card-title text-primary">
                    SPY Trend
                </h5>
                {% include "spy.html" %}
            </div>
        </div>
        <div class="card border-danger mb-3">
            <div class="card-body">
                <h5 class="card-title text-danger">
                    Sector Trend
                </h5>
                <!-- {% include "testtable.html" %} -->
            </div>
        </div>
        <div class="card border-warning mb-3">
            <div class="card-body">
                <h5 class="card-title text-warning">
                    Java
                </h5>
                <p class="card-text">
                    Java is a robust, object-oriented 
                    programming language used for building
                    enterprise-scale applications.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex flex-column 
        justify-content-start">
        <h2 class="text-center mb-3">
            Volume
        </h2>
        <div class="card border-success mb-3">
            <div class="card-body">
                <h5 class="card-title text-success">
                    PNL
                </h5>
                <p class="card-text">
                    Ruby is a dynamic, reflective, object-oriented, 
                    and general-purpose scripting language.
                </p>
            </div>
        </div>
        <div class="card border-info mb-3">
            <div class="card-body">
                <h5 class="card-title text-info">
                    Entry & Exit
                </h5>
                <p class="card-text">
                    PHP is widely used for web development and 
                    can be embedded into HTML.
                </p>
            </div>
        </div>
        <div class="card border-secondary mb-3">
            <div class="card-body">
                <h5 class="card-title text-secondary">
                    Stop Loss
                </h5>
                <p class="card-text">
                    Perl is known for its text processing 
                    capabilities and used in system
                    administration tasks.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}