
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">Stats</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Type</td>
      <td>{{spy.trendtype}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>indicator</td>
      <td>{{spy.indicator}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>direction</td>
      <td>{{spy.direction}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>price</td>
      <td>{{spy.price}}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>change</td>
      <td>{{spy.change}}</td>
    </tr>
  </tbody>
</table>